
.icon-truck-1:before { content: '\e800'; } /* '' */
.icon-pound-coin:before { content: '\e801'; } /* '' */
.icon-percent-coin:before { content: '\e802'; } /* '' */
.icon-dollar-coin:before { content: '\e803'; } /* '' */
.icon-card-lock:before { content: '\e804'; } /* '' */
.icon-001-twitter:before { content: '\e805'; } /* '' */
.icon-002-random:before { content: '\e806'; } /* '' */
.icon-003-random-1:before { content: '\e807'; } /* '' */
.icon-004-heart:before { content: '\e808'; } /* '' */
.icon-005-google-plus:before { content: '\e809'; } /* '' */
.icon-006-google-plus-1:before { content: '\e80a'; } /* '' */
.icon-007-heart-1:before { content: '\e80b'; } /* '' */
.icon-001-grid:before { content: '\e80c'; } /* '' */
.icon-005-menu-2:before { content: '\e80d'; } /* '' */
.icon-delivery-truck:before { content: '\e80e'; } /* '' */
.icon-insurance:before { content: '\e80f'; } /* '' */
.icon-location:before { content: '\e810'; } /* '' */
.icon-money:before { content: '\e811'; } /* '' */
.icon-shopping-bag:before { content: '\e812'; } /* '' */
.icon-support:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */